body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
/*////////////////HEADER*/
.header {
    background-color: #373c3f;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-bar {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nav-bar__item a {
    color: #fff;
}

.nav-bar__item a:hover {
    color: darkgrey;
}

.header__logo {
    margin-right: 40px;
    display: none;
}

.navigation {
    display: inline-block;
    padding: 13px 18px;
    box-sizing: border-box;
    font-size: 12px;
    color: #fff;
}

.burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px;
    height: 38px;
    box-sizing: border-box;
    background-color: #202529;
    position: relative;
}

.burger__button {
    position: relative;
    height: 20px;
    width: 30px;
}

.burger__button i {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    transition: all .4s linear;
    transform-origin: 8% 50%;
}

.burger__button i:nth-child(2) {
    top: 9px;
}

.burger__button i:nth-child(3) {
    top: 18px;
}

.burger__button_opened i:nth-child(1) {
    transform: rotate(45deg);
}

.burger__button_opened i:nth-child(2) {
    opacity: 0;
}

.burger__button_opened i:nth-child(3) {
    transform: rotate(-45deg);
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: -182px;
    transition: all 0.3s ease-out;
    background-color: white;
    width: 182px;
    box-shadow: -6px 5px 5px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    z-index: 5;
    padding-left: 0;
}

.dropdown-menu__item {
    border-top: 1px solid rgba(144, 144, 144, 0.25);
    color: #5c5c5c;
    font-size: 13px;
    padding: 8.4px 0;
    padding-left: 15px;
    letter-spacing: -1.4px;
}

.dropdown-menu__item a{
    color: #5c5c5c;
}

.dropdown-menu__item:hover {
    background-color: rgba(191, 191, 191, 0.24);
}

.dropdown-menu__item_opened {
    right: 0;
    transition: all 0.5s ease-out;
}

/*////////////////MAIN*/
.main {
    display: flex;
    flex: 1 0 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}


/*///////////////////PIZZA*/
.pizza {
    background: url("../img/320px/back.png") center no-repeat;
    height: 173px;
    padding: 0px 19px;
    width: 100vw;
    box-sizing: border-box
}

.pizza__heading {
    font-size: 16px;
    padding-top: 12px;
    line-height: 23px;
    letter-spacing: -0.6px;
    color: #fff;
    word-spacing: -1px;
}

.pizza__website-link {
    font-size: 14px;
    margin-top: 6px;
    letter-spacing: -0.6px;
    color: #87a9af;
    display: block;
}

/*////////////////DELIVERY    */
.delivery {
    margin-top: 4px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100vw;
    cursor: pointer;
}

.delivery a {
    display: contents;
}

.delivery__heading-pizza, .delivery__heading-salad, .delivery__heading-dessert {
    font-size: 20px;
    margin-right: 66px;
    padding: 0;
    line-height: 72px;
    letter-spacing: 0.8px;
    word-spacing: -1.2px;
    text-align: center;
    color: #fff;
}

.delivery__heading-pizza {
    letter-spacing: -1.5px;
    word-spacing: 1px;
    padding-left: 0;
    margin-right: 74px;
}

.delivery__heading-salad{
    padding-left: 14px;
    padding-top: 2px;
    letter-spacing: -1.5px;
}
.delivery__heading-dessert{
    padding-right: 12px;
    padding-top: 2px;
    letter-spacing: -1.5px;
    word-spacing: 1px;
}

.delivery__pizza {
    background: url("../img/320px/pizza-delivery.png") center no-repeat;
    position: relative;
}

.delivery__salad {
    background: url("../img/320px/salad-delivery.png") center no-repeat;
    margin-top: 3px;
    position: relative;
}

.delivery__dessert {
    background: url("../img/320px/dessert-delivery 3.png") center no-repeat;
    margin-top: 2px;
    position: relative;
}

.arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 22vw;
    background-color: #acd8ad;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7px;
    box-sizing: border-box;
}


/*//////////////CATALOG    */
.catalog {
    margin-top: 15px;
    width: 100vw;
}

.catalog__title {
    padding: 0 7px;
    box-sizing: border-box;
    display: flex;
}

.catalog__title-headings {
    flex: 1 0 80%;
    letter-spacing: 0.3px;
}

.catalog__title-headings h2 {
    margin-top: 10px;
    font-size: 19px;
    letter-spacing: -0.69px;
    text-transform: uppercase;
    color: #3f4043;
}

.catalog__title-headings h5 {
    margin-top: 3px;
    font-size: 10px;
    letter-spacing: -0.1px;
    color: #cbccce;
}

.catalog__title-logo {
    flex: 1 0 20%;
    text-align: right;
    display: none;
}

.catalog__description {
    display: flex;
    flex-direction: column;
}

.catalog__description h6::before {
    content: "\2022";
    font-size: 10px;
    padding-right: 4px;
}

.catalog__first-column, .catalog__second-column {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
}

.catalog__second-column {
    margin-top: 14px;
}

.catalog__first-heading, .catalog__second-heading {
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    word-spacing: 2px;
    padding: 9px 0 9px 20px;
    letter-spacing: -1px;
}

.catalog__first-heading {
    color: #acd8ad;
    background-color: #3f4043;
}

.catalog__second-heading {
    color: #fff;
    background-color: #acd8ad;
    letter-spacing: -1.2px;
    margin-top: 14px;
    word-spacing: 0.1px;}

.catalog__beer-menu, .catalog__coffee-menu, .catalog__pizza-menu, .catalog__wine-menu {
    padding: 2px 17px;
    color: #3f4043;
}

.pizza-subheading, .wine-subheading, .coffee-subheading, .beer-subheading {
    font-size: 15px;
    word-spacing: -1px;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 10px;
    padding-right: 60px;
    position: relative;
}

.pizza-subheading {
    letter-spacing: -0.8px;
    padding-top: 14px;
    word-spacing: 0.5px;
}

.beer-subheading {
    letter-spacing: -0.9px;
    word-spacing: 1px;
}

.coffee-subheading {
    padding-top: 15px;
}

.pizza-name, .wine-name, .coffee-name, .beer-name {
    font-size: 15px;
    position: relative;
    padding: 9px 13px 6.5px 0px;
    letter-spacing: -1.8px;
    word-spacing: 0.5px;
}

.catalog__pizza-menu p, .catalog__wine-menu p, .catalog__coffee-menu p, .catalog__beer-menu p {
    font-size: 10px;
    text-align: justify;
    letter-spacing: -1.2px;
}

.food-icon {
    position: absolute;
    right: 0;
    width: 27px;
}

.pizza-icon {
    top: 26%;
    width: 25px;
}

.wine-icon {
    top: 26%;
    height: 24px;
    width: 15px;
    right: 2%;
}

.beer-icon {
    width: 20px;
    height: 19px;
    right: 2%;
}

.price {
    display: inline-block;
    text-align: right;
    font-weight: 700;
    position: absolute;
    right: 0;
}

/*///////////////FOOTER    */
.footer {
    height: 55px;
    margin-top: 45px;
    font-size: 12px;
    background-color: #acd8ad;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}

.footer p {
    line-height: 19px;
}

.footer a {
    display: none;
}

.new-line {
    display: block;
}

/*//////////////MEDIA*/
@media (min-width: 320px) {
    .navigation {
        font-size: 15px;
    }

    .burger {
        height: 60px;
    }

    .dropdown-menu {
        top: 60px;
    }

    .dropdown-menu__item {
        font-size: 16px;
        padding: 15px 0;
        padding-left: 20px;
    }

    .pizza {
        background: url("../img/640px/back-pizza.png") center no-repeat;
        height: 400px;
        background-size: cover;
    }

    .pizza__heading {
        font-size: 29px;
        padding-top: 45px;
        line-height: 40px;
    }

    .pizza__website-link {
        margin-top: 20px;
        font-size: 24px;
    }

    .delivery__pizza {
        background: url("../img/640px/pizza-delivery.png") center no-repeat;
    }

    .delivery__salad {
        margin-top: 3px;
        background: url("../img/640px/salad-delivery.png") center no-repeat;
    }

    .delivery__dessert {
        margin-top: 3px;
        background: url("../img/640px/dessert-delivery.png") center no-repeat;
    }

    .delivery__heading-pizza, .delivery__heading-salad, .delivery__heading-dessert {
        font-size: 26px;
        padding: 60px 0;
        line-height: 30px;
        margin-right: 120px;
        margin-left: 10px;
    }

    .arrow {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 25vw;
        background-color: #acd8ad;
        font-size: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .catalog__description {
        flex-direction: column;
    }

    .catalog__description h6::before {
        font-size: 15px;
        padding-right: 5px;
    }

    .catalog__title {
        padding: 0 25px;
    }

    .catalog__title-headings h2 {
        font-size: 26px;
        margin-top: 20px;
    }

    .catalog__title-headings h5 {
        margin-top: 3px;
        font-size: 16px;
    }

    .pizza-subheading, .wine-subheading, .coffee-subheading, .beer-subheading {
        font-size: 19px;
        margin-top: 25px;
        padding-top: 0px;
    }

    .catalog__first-heading, .catalog__second-heading {
        padding: 15px 0 15px 30px;
        font-size: 26px;
    }

    .catalog__wine-menu, .catalog__pizza-menu {
        padding: 0 30px;
        color: #3f4043;
    }

    .catalog__wine-menu {
        padding-bottom: 40px;
    }

    .catalog__coffee-menu, .catalog__beer-menu {
        padding: 0 30px;
        color: #3f4043;
    }

    .catalog__pizza-menu p, .catalog__wine-menu p, .catalog__coffee-menu p, .catalog__beer-menu p {
        font-size: 14px;
        text-align: justify;
    }

    .pizza-name, .wine-name, .coffee-name, .beer-name {
        font-size: 18px;
    }

    .food-icon {
        top: 0;
    }

    .pizza-icon {
        top: -10px;
        width: 32px;
    }

    .beer-icon {
        top: -6px;
        width: 29px;
        height: 28px;
        right: 2%;
    }

    .coffee-icon {
        width: 35px;
        height: 24px;
        top: -6px;
    }

    .wine-icon {
        top: -6px;
        height: 31px;
        width: 20px;
    }

    .footer {
        padding-top: 10px;
        font-size: 20px;
        height: 80px;
    }

    .footer p {
        line-height: 30px;
    }
}

@media (min-width:640px){
    .header__nav-bar {
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .header__logo {
        display: inline-block;
    }

    .nav-bar__item:first-child {
        margin-left: 20px;
    }

    .nav-bar__item {
        padding: 32px 10px;
        cursor: pointer;
        box-sizing: border-box;
    }

    .nav-bar__item:first-child {
        margin-left: 30px;
    }

    .burger {
        display: none;
    }

    .navigation {
        display: none;
    }

    .pizza {
        height: 530px;
        background-size: cover;
        background: url("../img/980px/back-pizza.png") center no-repeat;
        padding: 0 35px;
    }

    .pizza__heading {
        font-size: 45px;
        padding-top: 60px;
        line-height: 53px;
    }

    .pizza__website-link {
        margin-top: 40px;
        font-size: 35px;
    }

    .delivery {
        flex-direction: row;
    }

    .delivery__pizza {
        background: url("../img/980px/pizza-delivery.png") center no-repeat;
        flex-basis: calc(100% / 3);
    }

    .delivery__salad {
        background: url("../img/980px/salad-delivery.png") center no-repeat;
        flex-basis: calc(100% / 3);
        margin-top: 0px;
    }

    .delivery__dessert {
        background: url("../img/980px/dessert-delivery.png") center no-repeat;
        flex-basis: calc(100% / 3);
        margin-top: 0px;
    }

    .delivery__heading-pizza, .delivery__heading-salad, .delivery__heading-dessert {
        font-size: 34px;
        padding: 120px 0;
        line-height: 30px;
        margin-right: 0;
    }

    .arrow {
        display: none;
    }

    .catalog {
        margin-top: 30px;
    }

    .catalog__title-headings h2 {
        font-size: 26px;
        margin-top: 40px;
    }

    .catalog__title {
        padding: 5px 25px;
    }

    .catalog__title-logo {
        display: inline-block;
    }

    .catalog__description {
        flex-direction: row;
    }

    .catalog__description h6::before {
        font-size: 20px;
        padding-right: 6px;
    }

    .catalog__second-column {
        margin-top: 0;
    }

    .catalog__first-heading, .catalog__second-heading {
        font-size: 26px;
        margin-top: 0;
    }

    .catalog__first-heading{
        padding-left: 20px;
    }

    .catalog__pizza-menu, .catalog__wine-menu{
        padding-left: 20px;
        padding-right: 10px;
    }

    .catalog__coffee-menu, .catalog__beer-menu {
        padding-left: 10px;
        padding-right: 20px;
    }

    .pizza-subheading, .wine-subheading, .coffee-subheading, .beer-subheading {
        font-size: 21px;
    }

    .pizza-name, .wine-name, .coffee-name, .beer-name {
        padding: 13px 0;
        font-size: 20px;
    }

    .catalog__pizza-menu p, .catalog__wine-menu p, .catalog__coffee-menu p, .catalog__beer-menu p {
        font-size: 15px;
    }

    .footer {
        padding: 0 30px;
        justify-content: space-between;
        box-sizing: border-box;
        flex-direction: row;
        height: 100px;
    }

    .footer a {
        display: inline-block;
        padding-top: 10px;
    }

    .footer p {
        font-size: 20px;
        line-height: 105px;
    }

    .new-line {
        display: inline-block;
    }
}

@media (min-width: 980px) {

    .header__nav-bar {
        font-size: 20px;
    }

    .nav-bar__item {
        padding: 40px 20px;
        font-size: 18px;
    }

    .nav-bar__item:first-child {
        margin-left: 40px;
    }

    .pizza {
        background: url("../img/1200px/back-pizza.png") center no-repeat;
        background-size: cover;
        height: 850px;
        width: 100vw;
        padding: 0 55px;
        box-sizing: border-box;
    }

    .pizza__heading {
        color: #fff;
        font-size: 76px;
        padding-top: 75px;
        line-height: 80px;
    }

    .pizza__website-link {
        color: #87a9af;
        margin-top: 70px;
        display: block;
        font-size: 45px;
    }

    .delivery {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        width: 100vw;
        cursor: pointer;
    }

    .delivery__pizza {
        flex: 1 0 calc(100% / 3);
        background: url("../img/1200px/pizza-delivery.png") center no-repeat;
        background-size: cover;
        position: relative;
    }

    .delivery__salad {
        flex: 1 0 calc(100% / 3);
        background: url("../img/1200px/salad-delivery.png") center no-repeat;
        background-size: cover;
        position: relative;
    }

    .delivery__dessert {
        flex: 1 0 calc(100% / 3);
        background: url("../img/1200px/dessert-delivery.png") center no-repeat;
        background-size: cover;
        position: relative;
    }

    .delivery__heading-pizza, .delivery__heading-salad, .delivery__heading-dessert {
        font-size: 50px;
        line-height: 200px;
    }

    .catalog__title {
        padding: 0 40px;
        box-sizing: border-box;
        display: flex;
    }

    .catalog__title-headings {
        flex: 1 0 80%;
        letter-spacing: 0.3px;
    }

    .catalog__title-headings h2 {
        text-transform: uppercase;
        color: #3f4043;
        font-size: 40px;
        margin-top: 40px;
    }

    .catalog__title-headings h5{
        color: #cbccce;
        margin-top: 7px;
        font-size: 20px;
    }

    .catalog__description {
        margin-top: 10px;
    }

    .catalog__first-column, .catalog__second-column {
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
    }

    .catalog__first-heading, .catalog__second-heading {
        padding: 25px 0 25px 40px;
        text-transform: uppercase;
        font-size: 40px;
    }

    .catalog__first-heading {
        color: #acd8ad;
        background-color: #3f4043;
    }

    .catalog__second-heading {
        color: #fff;
        background-color: #acd8ad;
        padding-left: 18px;
    }

    .catalog__wine-menu, .catalog__pizza-menu {
        padding-left: 40px;
        color: #3f4043;
    }

    .catalog__coffee-menu, .catalog__beer-menu {
        padding-left: 20px;
        padding-right: 40px;
        color: #3f4043;
    }

    .pizza-subheading, .wine-subheading, .coffee-subheading, .beer-subheading {
        text-transform: uppercase;
        font-size: 27px;
        padding-bottom: 20px;
        padding-right: 60px;
        margin-top: 30px;
        position: relative;
    }

    .pizza-name, .wine-name, .coffee-name, .beer-name {
        font-size: 20px;
        padding: 13px 0;
        position: relative;
    }

    .pizza-icon {
        width: 45px;
    }

    .beer-icon {
        top: -6px;
        width: 40px;
        height: 40px;
        right: 0;
    }

    .coffee-icon {
        width: 46px;
        height: 36px;
        top: -2px;
    }

    .wine-icon {
        top: -10px;
        height: 44px;
        width: 28px;
    }


    .catalog__pizza-menu p, .catalog__wine-menu p, .catalog__coffee-menu p, .catalog__beer-menu p {
        font-size: 16px;
        text-align: justify;
    }

    .footer p {
        font-size: 24px;
    }
}